.mat-dialog-content {
  padding-left: 40px;
  width: 90%;
  height: 75%;
}

textarea {
  width: 95%;
  height: 95%;
  background-color: rgb(241, 245, 222);
  border-style: ridge;
  border-color: black;
  border-width: thin;
}