
<div class="outerDiv">
  <div class="titleImg">
    <h2>
      <input *ngIf="dataService.editMode" type="text" (keyup)="changeNameMessage()" name="name" [(ngModel)]="name" class="editable"/>
      <span *ngIf="!dataService.editMode">{{ name }}</span>
    </h2>
    <img *ngIf="image" src="{{'data:image/jpg;base64,' + image}}" />
    <p *ngIf="!image" class="noImage">No image provided.</p>
    <div *ngIf="dataService.editMode">
      <label for="imageInput" class="imageButton">Select</label>
      <input id="imageInput" #imageInput
             type="file"
             accept="image/*"
             (change)="processFile(imageInput)">
    </div>
  </div>
  <div class="titleText">
    <h2>{{ title }}</h2>
    <br/>
    <mat-form-field *ngIf="dataService.editMode" class="editable">
      <textarea name="text" matInput [(ngModel)]="text" (keyup)="changeTextMessage()"></textarea>
    </mat-form-field>
    <span *ngIf="!dataService.editMode">{{ text }}</span>
    <p *ngIf="!dataService.editMode && !text">No details provided.</p>
  </div>
</div>
