<h2 mat-dialog-title>
  Change CV Viewer user password.
</h2>
<mat-dialog-content class="fullWidth floatLeft">
  <form [formGroup]="userForm" (ngSubmit)="updateUserPassword(userForm.value)">
    <table class="fullWidth">
      <colgroup>
        <col span="1" style="width: 35%;">
        <col span="1" style="width: 2%;">
        <col span="1" style="width: 63%;">
      </colgroup>
      <tr>
        <td>User name</td>
        <td>:</td>
        <td>
          <span *ngIf="!authenticationService.isAdmin()">{{ authenticationService.userName }}</span>
          <select *ngIf="authenticationService.isAdmin()" formControlName="userName" (change)="setUserName($event)" class="editable">
            <option *ngFor="let availableUserName of availableUserNames">{{ availableUserName }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Password</td>
        <td>:</td>
        <td>
          <input id="userPassword" type="password" name="userPassword" formControlName="userPassword"  autocomplete="off"class="editable">
        </td>
      </tr>
      <tr>
        <td>Confirm Password</td>
        <td>:</td>
        <td>
          <input id="confirmUserPassword" type="password" name="confirmUserPassword" formControlName="confirmUserPassword" autocomplete="off" class="editable">
        </td>
      </tr>
    </table>
    <br>
    <div>
      <button type="submit" class="mat-raised-button">Update</button>
      <button type="button" class="mat-raised-button" (click)="close()">Close</button>
    </div>
    <br>
    <div *ngFor="let error of userErrors" class="errorMessage">
      {{ error }}
    </div>
  </form>
</mat-dialog-content>
